<div class="contact-card">
    <h3 class="contact-title">Entre em contato</h3>
    <p class="contact-description">
        Nossa equipe está disponível para entender suas necessidades e propor as melhores soluções tecnológicas.
    </p>
    
    <div class="contact-items">
        <div class="contact-item">
            <div class="contact-icon">📧</div>
            <div class="contact-details">
                <h4>Email</h4>
                <a href="mailto:contato@8tech.com.br">contato@8tech.com.br</a>
            </div>
        </div>
        
        <div class="contact-item">
            <div class="contact-icon">📱</div>
            <div class="contact-details">
                <h4>Telefone</h4>
                <a href="tel:+5511999999999">+55 11 9999-9999</a>
            </div>
        </div>
        
        <div class="contact-item">
            <div class="contact-icon">📍</div>
            <div class="contact-details">
                <h4>Endereço</h4>
                <p>São Paulo, SP - Brasil</p>
            </div>
        </div>
        
        <div class="contact-item">
            <div class="contact-icon">🕐</div>
            <div class="contact-details">
                <h4>Horário</h4>
                <p>Segunda a Sexta: 9h às 18h</p>
            </div>
        </div>
    </div>
</div>
